
body{
    background-color: lightgray;
}

.my-background{
    background-color: lightpink;
}


.my-col{
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    max-width: calc(100% / 7 - 20px);
    height: 168.567px;
    margin: 10px;
    background-color: bisque;
}


.std{
    background-color: royalblue;
}

.x3{
    background-color: lightgreen;
}

.x5{
    background-color: yellow;
}


.x3-5{
    background-color: red;
}